@import "../../index.scss";

.multi-step-form {
  height: 300px;
  @include flexCenter(end, center, column);
  & > div {
    height: 100%;
    @include flexCenter(space-between, center, column);
  }
  header {
    text-align: center;
    & > *::first-letter {
      text-transform: capitalize;
    }
    h2 {
      margin: 11px 0;
    }
    p {
      font-size: 12px;
      font-weight: medium;
      color: $secondary;
    }
  }

  .options-container {
    @include flexCenter(center, center, row);
  }

  .success {
    height: 220px;

    img {
      height: 60px;
    }
  }
}
