@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  border: none;
  outline: none;
}

$primary: #5a4ad1;
$secondary: #727e95;
$secondary_1: #99a3ba;
